In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('../data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

../data/sample_submission.csv
../data/test.csv
../data/train.csv

Hello everyone! This notebook represents my submission to the Spaceship Titanic competition, but also a tutorial for absolute beginners on how to approach a basic machine learning problem. First, we go through the data analysis and feature engineering process and then we test different models in order to decide which one would be the best for our problem. Moreover, because it is an absolute beginner tutorial I am going to explain each line of code presented in this notebook and thus give you also a small introduction to a few Python libraries such as Numpy, Pandas and Scikit Learn. I wish you all good luck in your coding journey!

> If you want to know more about a function that is presented in this notebook, please check the official documentation of each library:
> - Pandas: https://pandas.pydata.org/docs/index.html
> - Numpy: https://numpy.org/
> - Scikit Learn: https://scikit-learn.org/stable/

The first step is to read the files that contain our data. Therefore, we are going to use the **read_csv** function from pandas that reads a comma-separated values (csv) file into a DataFrame.

In [3]:
train_data = pd.read_csv("../data/train.csv")
test_data = pd.read_csv("../data/test.csv")

# Data Analysis

Let's get accustomed to our data. We can visualize the first rows of a DataFrame by using the **head** function. This function outputs by default the first five rows of a DataFrame.

In [4]:
train_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

If you want to display more than five rows you can change the number between the brackets.

In [5]:
train_data.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

Another function that you can use is **info**. This one displays the most important information from a DataFrame such as index data type and columns, non-null values and memory usage.

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

Now, we want to see how many categories each categorical feature contains as well as how many items are in each category. To do that we use the **value_counts** function.

In [7]:
train_data['Destination'].value_counts()

Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

In [8]:
train_data['HomePlanet'].value_counts()

HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64

In [9]:
train_data['CryoSleep'].value_counts()

CryoSleep
False    5439
True     3037
Name: count, dtype: int64

In [10]:
train_data['Cabin'].value_counts()

Cabin
G/734/S     8
B/11/S      7
F/1411/P    7
B/82/S      7
G/981/S     7
           ..
G/543/S     1
B/106/P     1
G/542/S     1
F/700/P     1
G/559/P     1
Name: count, Length: 6560, dtype: int64

In [11]:
train_data['VIP'].value_counts()

VIP
False    8291
True      199
Name: count, dtype: int64

In [12]:
train_data['Name'].value_counts()

Name
Ankalik Nateansive    2
Gwendy Sykess         2
Cuses Pread           2
Keitha Josey          2
Glenna Valezaley      2
                     ..
Backse Cla            1
Fres Cla              1
Dous Blane            1
Spies Gency           1
Aliey Chanash         1
Name: count, Length: 8473, dtype: int64

In [13]:
train_data["Transported"].value_counts()

Transported
True     4378
False    4315
Name: count, dtype: int64

After we understood our data better, we want to see how many missing values there are for each attribute. We do that by calling the **isnull** function which returns a mask of boolean values indicating if a certain value in the DataFrame is missing or not. Then we call the **sum** function which sums the values got from isnull for each attribute. Finally, **sort_values** is used to display the resulting values in a given order. By setting the parameter ascending to False, we tell the program to display the values in descending order.

Usually, an attribute can be dropped if there are more than 5% missing values, but that depends on the problem.

In [14]:
train_data.isnull().sum().sort_values(ascending=False)

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
VRDeck          188
Spa             183
FoodCourt       183
Destination     182
RoomService     181
Age             179
PassengerId       0
Transported       0
dtype: int64

We can see there is no attribute for which the missing values are more than 5% of the total slots. Thus, we decide to not drop any attribute for now.

# Feature Engineering

An interesting thing to observe is that the 'Cabin' feature is made of 3 distinct components divided by a slash:
- the deck where the cabin was
- the number of the cabin 
- the side where the cabin was

That's why I chose to divide this feature into 3 separate features.

In [15]:
train_data[['Deck', 'Cabin_number', 'Side']] = train_data['Cabin'].str.split('/', expand=True)
test_data[['Deck', 'Cabin_number', 'Side']] = test_data['Cabin'].str.split('/', expand=True)

We want to see how many unique values the newly created features have, proceeding the same as before.

In [16]:
train_data['Cabin_number'].value_counts()

Cabin_number
82      28
86      22
19      22
176     21
97      21
        ..
1864     1
1865     1
1761     1
1866     1
1867     1
Name: count, Length: 1817, dtype: int64

In [17]:
train_data['Deck'].value_counts()

Deck
F    2794
G    2559
E     876
B     779
C     747
D     478
A     256
T       5
Name: count, dtype: int64

In [18]:
train_data['Side'].value_counts()

Side
S    4288
P    4206
Name: count, dtype: int64

I decided to delete the 'Cabin_number' for simplicity. This way the cabin of each passenger is described as being located in a larger area.

In [19]:
train_data = train_data.drop(['Cabin_number'], axis = 1)
test_data = test_data.drop(['Cabin_number'], axis = 1)

Because we divided the 'Cabin' feature into 3 different features, we are going to exclude it from our data. Also, we are going to delete the 'PassengerId' and 'Name' for simplicity (an idea for future analysis would be to group passengers by their family name). For this I used the **drop** function. For more information about all the parameters of this function please check out the official documentation.

In [20]:
train_data.drop(['Cabin', 'Name', 'PassengerId'], axis = 1, inplace = True)
test_data.drop(['Cabin', 'Name', 'PassengerId'], axis = 1, inplace = True)

We are going to stick with the features that we have now. 

The next step is to fill in all the missing values of each attribute.

# Sidebar

There are two types of attributes present in our dataset:
- **numerical attributes** which refer to numerical datatypes (for example 'Spa' is a numerical attribute, because all of its elements are numbers 
- **categorical attributes** which refer to string datatypes (for example 'HomePlanet' is a categorical attribute, because all of its elements are strings 

The problem is that machines cannot interpret categorical data directly. That is why categorical data must be transformed into numerical data for further processing.

# End of Sidebar

We observe that two attributes take just True or False as values. This is why I chose to replace the boolean values with numerical ones (1 and 0).

I used the **astype** function to make the conversion. This function casts an object to a specified data type. In our case, we set the parameter dtype = int to make the conversion from bool to int.

Before applying astype we had to fill in the missing values and we did so by using the **fillna** function. We replaced the missing values with 0 because there were more False values for both attributes.

In [21]:
# First, fill the missing values with the value 0
train_data[['VIP', 'CryoSleep']] = train_data[['VIP', 'CryoSleep']].fillna(value=0)
test_data[['VIP', 'CryoSleep']] = test_data[['VIP', 'CryoSleep']].fillna(value=0)

# Then change the boolean values with numerical values
train_data['CryoSleep'] = train_data['CryoSleep'].astype(int)
train_data['VIP'] = train_data['VIP'].astype(int)

test_data['CryoSleep'] = test_data['CryoSleep'].astype(int)
test_data['VIP'] = test_data['VIP'].astype(int)

I am going to use two different techniques for filling in the missing values of the numerical and categorical attributes. For the numerical attributes I am going to use the median and for the categorical ones I am going to use the mode. This can be easily done by using the **median** and the **mode** function. However, the mode function returns a Series so I had to use the iloc function to get the actual value of the mode.

In [22]:
# Here I created two lists that contain the names of the numerical and categorical attributes
num_features = [col for col in train_data.columns if train_data[col].dtype == "int64" or train_data[col].dtype == "float64"]
cat_features = [col for col in train_data.columns if train_data[col].dtype == "object"]

for feature in num_features:
  train_data[feature].fillna(train_data[feature].median(), inplace = True)
  test_data[feature].fillna(test_data[feature].median(), inplace = True)

for feature in cat_features:
  train_data[feature].fillna(train_data[feature].mode().iloc[0], inplace = True)
  test_data[feature].fillna(test_data[feature].mode().iloc[0], inplace = True)

/tmp/ipykernel_9959/1368184308.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[feature].fillna(train_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data[feature].fillna(test_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[feature].fillna(train_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data[feature].fillna(test_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[feature].fillna(train_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data[feature].fillna(test_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[feature].fillna(train_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data[feature].fillna(test_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[feature].fillna(train_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data[feature].fillna(test_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[feature].fillna(train_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data[feature].fillna(test_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[feature].fillna(train_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data[feature].fillna(test_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[feature].fillna(train_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data[feature].fillna(test_data[feature].median(), inplace = True)
/tmp/ipykernel_9959/1368184308.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data[feature].fillna(train_data[feature].mode().iloc[0], inplace = True)
/tmp/ipykernel_9959/1368184308.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data[feature].fillna(test_data[feature].mode().iloc[0], inplace = True)

In [23]:
train_data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Side
0,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,False,B,P
1,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,True,F,S
2,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,A,S
3,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,A,S
4,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,True,F,S

We verify again for missing values and we see that there are none.

In [24]:
train_data.isnull().sum().sort_values(ascending=False)

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
Deck            0
Side            0
dtype: int64

In [25]:
train_data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Side
0,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,False,B,P
1,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,True,F,S
2,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,A,S
3,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,A,S
4,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,True,F,S

There are many ways to convert categorical data into numerical data. For this problem I used both ordinal and one-hot encoding.

Ordinal encoding refers to assigning an integer to each category of an attribute. I used it for converting the 'Deck' feature, because the decks are placed in an alphabetical order. I applied it by using the **replace** function which changed each element in the attribute following the map provided.

In [26]:
deck_mapping = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "T": 8}
train_data["Deck"] = train_data["Deck"].replace(deck_mapping)
test_data["Deck"] = test_data["Deck"].replace(deck_mapping)

/tmp/ipykernel_9959/1939610846.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_data["Deck"] = train_data["Deck"].replace(deck_mapping)
/tmp/ipykernel_9959/1939610846.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_data["Deck"] = test_data["Deck"].replace(deck_mapping)

In one-hot encoding the categorical feature is removed and multiple columns with binary values (one for each category) are added to the DataFrame. For example, take the feature 'HomePlanet'. There are three categories for this attribute: Earth, Europa and Mars. After applying one-hot encoding the attribute 'HomePlanet' will be erased from the dataset and three other attributes are created: 'HomePlanet_Earth', 'HomePlanet_Europa' and 'HomePlanet_Mars'. If Passenger1 is from Earth then she will get a 1 in the 'HomePlanet_Earth' column and a 0 in the other two.

I did this by using the **get_dummies** function.

In [27]:
train_data = pd.get_dummies(train_data).copy()
test_data = pd.get_dummies(test_data).copy()

In [28]:
train_data.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Side_P,Side_S
0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,False,2,False,True,False,False,False,True,True,False
1,0,24.0,0,109.0,9.0,25.0,549.0,44.0,True,6,True,False,False,False,False,True,False,True
2,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,1,False,True,False,False,False,True,False,True
3,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,1,False,True,False,False,False,True,False,True
4,0,16.0,0,303.0,70.0,151.0,565.0,2.0,True,6,True,False,False,False,False,True,False,True

# Model

Before fitting any model to our data, we have to make sure that we have a way to test the accuracy of each model. That's why we are going to train the model with 80% of our data and then test it with the rest. Scikit Learn has a specialized function called **train_test_split** that does just that. For a detailed explanation about the parameters of this function please check out the official documentation.

In [29]:
from sklearn.model_selection import train_test_split

# We create a separate variable that contains the labels and then erase them from our data
y = train_data.Transported.copy()
train_data = train_data.drop(['Transported'], axis = 1)

X_train, X_test, y_train, y_test = train_test_split(train_data, y, test_size = 0.2)

For computing the prediction accuracy of each model I used the scikit learn function **accuracy_score**.

In [30]:
from sklearn.metrics import accuracy_score

Scikit Learn provides many machine learning models that are useful depending on the problem that you're trying to solve. Here I explored just five models to give you the gist of it but feel free to experiment with other models as well. I am not going to explain how each model creates the prediction, because this is beyond the scope of this notebook. However, I am going to explain the structure that I used here. 

First, I created a variable that contains the model and fitted it to the training data. I used the function **fit** for this. Then I made the prediction for the testing data using **predict** function. Finally, I computed the accuracy of the prediction.

In [40]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train, y_train)
svm_pred = svc.predict(X_test)
svc_accuracy = accuracy_score(y_test, svm_pred )

svc_accuracy

0.7866589994249569

In [41]:
from sklearn.linear_model import SGDClassifier

sgd = SGDClassifier()
sgd.fit(X_train, y_train)
sgd_pred = sgd.predict(X_test)
sgd_accuracy = accuracy_score( y_test, sgd_pred)

sgd_accuracy

0.7883841288096607

In [42]:
from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
decision_tree_pred = decision_tree.predict(X_test)
decision_tree_accuracy = accuracy_score( y_test, decision_tree_pred,)

decision_tree_accuracy

0.7285796434732605

In [43]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)
random_forest_pred = random_forest.predict(X_test)
random_forest_accuracy = accuracy_score(y_test, random_forest_pred )

random_forest_accuracy

0.7866589994249569

In [44]:
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier(random_state = 42)
gbc.fit(X_train, y_train)
gbc_pred = gbc.predict(X_test)
gbc_accuracy = accuracy_score(y_test, gbc_pred )

gbc_accuracy

0.78953421506613

Here is a piece of code that provides us with a DataFrame with the names of all the models and their performance.

In [45]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'Stochastic Gradient Decent', 'Decision Tree','Random Forest',
              'GradientBoostingClassifier'],
    'Accuracy': [svc_accuracy, sgd_accuracy, decision_tree_accuracy, random_forest_accuracy, gbc_accuracy]})
models.sort_values(by='Accuracy', ascending=False)

                        Model  Accuracy
4  GradientBoostingClassifier  0.789534
1  Stochastic Gradient Decent  0.788384
0     Support Vector Machines  0.786659
3               Random Forest  0.786659
2               Decision Tree  0.728580

I made the final prediction for the competition using the model that performed the best: GradientBoostingClassifier.

In [37]:
pred = gbc.predict(test_data)

We organize our data in order to make a submission.

In [49]:
submission_data = pd.read_csv('../data/sample_submission.csv')
submission_data['Transported'] = pred.astype("bool")
submission_data.to_csv("submission.csv",index=False)
submission_data.head(10)

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True
5     0027_01         True
6     0029_01         True
7     0032_01         True
8     0032_02         True
9     0033_01         True