# ðŸ¦„ The Fantasy Zookeeper

**Scenario:**

Congratulations! You've been hired as a data analyst at Fantasy Zoo, the world's first zoo for mythical creatures. Your job is to analyze the data of the mythical creatures living at the zoo and provide insights to help improve their wellbeing.

You've been given a **dataset** containing the following columns:
* `creature_name`: Name of the creature
* `creature_type`: Type of the creature (e.g., dragon, unicorn, etc.)
* `age`: Age of the creature (in years)
* `health_status`: Health status of the creature (Excellent, Good, Fair, Poor)
* `magical_ability_score`: Score representing the creature's magical ability (0-100)

**Exercise:**

In order to organize the animals into different habitats, you've been asked to answer the fsome questions regarding this dataset:

In [39]:
import pandas as pd
import numpy as np
import random

random.seed(42)
#np.random.seed(42)

# Define the number of creatures
num_creatures = 100

# Define the creature types
creature_types = ['Dragon', 'Unicorn', 'Griffin', 'Phoenix', 'Mermaid', 'Centaur']

# Generate random data
data = {
    'creature_name': ['Creature' + str(i) for i in range(num_creatures)],
    'creature_type': np.random.choice(creature_types, num_creatures),
    'age': np.random.randint(1, 1000, num_creatures),
    'health_status': np.random.choice(['Excellent', 'Good', 'Fair', 'Poor'], num_creatures),
    'magical_ability_score': np.random.randint(0, 101, num_creatures)
}

# Create a DataFrame
df = pd.DataFrame(data)

1. Display the first 5 rows of the dataframe.

In [40]:
df.head()

  creature_name creature_type  age health_status  magical_ability_score
0     Creature0       Mermaid  866     Excellent                     73
1     Creature1       Mermaid  524          Poor                     97
2     Creature2       Unicorn  275     Excellent                     56
3     Creature3       Mermaid  613          Good                     89
4     Creature4       Griffin   44          Poor                     40

2. Calculate and print the total number of creatures in the zoo.

In [49]:
total_creatures = df['creature_name'].count()
f'Total number of creatures: {total_creatures}'

'Total number of creatures: 100'

In [77]:
total_Unicorns = df['creature_type'] == 'Unicorn'
unicorns_df = df[total_Unicorns]
unicorns_df.head()
len(unicorns_df)
f'Total number of Unicorns: {len(unicorns_df)}'

'Total number of Unicorns: 19'

In [81]:
df['creature_type'].value_counts()

creature_type
Mermaid    19
Unicorn    19
Griffin    19
Dragon     17
Centaur    14
Phoenix    12
Name: count, dtype: int64

3. Calculate and print the average age of the creatures.

In [4]:
average_age = df['age'].mean()
f'Average age of creatures: {average_age}'

'Average age of creatures: 505.62'

4. Find and print the name of the oldest creature.

In [5]:
oldest_creature_index = df['age'].idxmax()
oldest_creature = df.loc[oldest_creature_index, 'creature_name']
f'Oldest creature: {oldest_creature}'

'Oldest creature: Creature25'

5. Identify and print the most common type of creature.

In [8]:
common_creature_type = df['creature_type'].mode()[0]
f'Most common creature type: {common_creature_type}'

'Most common creature type: Unicorn'

6. Find and print the average magical ability score for each type of creature.

In [9]:
average_ability_score = df.groupby('creature_type')['magical_ability_score'].mean()
average_ability_score

creature_type
Centaur    43.200000
Dragon     40.181818
Griffin    41.176471
Mermaid    54.000000
Phoenix    57.444444
Unicorn    48.500000
Name: magical_ability_score, dtype: float64

7. Find the names of creatures who have a 'Poor' health status.

In [10]:
poor_health_creatures = df.loc[df['health_status'] == 'Poor', 'creature_name']
poor_health_creatures

6      Creature6
9      Creature9
13    Creature13
16    Creature16
18    Creature18
22    Creature22
39    Creature39
41    Creature41
42    Creature42
45    Creature45
49    Creature49
50    Creature50
51    Creature51
52    Creature52
53    Creature53
54    Creature54
55    Creature55
58    Creature58
64    Creature64
65    Creature65
69    Creature69
70    Creature70
72    Creature72
73    Creature73
78    Creature78
79    Creature79
82    Creature82
83    Creature83
91    Creature91
93    Creature93
94    Creature94
97    Creature97
Name: creature_name, dtype: object

Remember, the happiness of the mythical creatures is in your hands. Happy analyzing! ðŸ’ª